


<h1>イベント作成</h1>


<%= form_with model: @event, local:true do |f| %>
  <div class="form-group">
    <%= f.label :イベント名 %>
	<%= f.text_field :event_name, class: 'form-control', id: 'event_name' %>
  </div>

<%= f.date_field :event_date %>
<%= f.time_field :event_time %>
  <div class="form-group">
  	<%= f.label :event_description %>
    <%= f.text_area :event_description, rows: 5, class: 'form-control', id: 'event_description' %>
  </div>
  <div class="form-group">
  	<%= f.label :料金 %>
    <%= f.text_field :event_fee %>
  </div>
  <div class="form-group">
	<%= f.label :event_image %><br>
  <%= f.file_field :event_image, class: 'form-control' %>
    


<div class="field">
  <%= f.label :place %>
  <%= f.text_field :prace %>
</div>
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Back', events_path %>

  </div>
<% end %>
