



<table class=table >
  <tr>
    <td width="40%">
      <%= attachment_image_tag @event, :event_image, :fill, 500, 500,fallback: "no.png", size:'500x500'%>

    </td>
    <td width="60%">
      <table >
        <tr><h1 class="item-column"><%= @event.event_name %></h2></tr><br>
        <tr><h4 class="item-column">開催日時</h4>
        	<p class="event-content"> <%= @event.event_date.strftime("%-m月%-d日%H:%M") %>〜</p></tr>
        <br>
        <tr><h4 class="item-column">参加費</h4><p class="event-content">¥<%= @event.event_fee %></p></tr>
        <br>
              	<p class="item-content"><%= @event.event_description %></p></tr>
        <tr></tr>
      </table>
    </td>
  </tr>
</table>

<div class="entry-box">
	<h4 class="item-column">このイベントに参加する人</h4>
	<div class="entry-button">
		<% if end_user_signed_in?  %>
			<% if !Entry.exists?(end_user_id:current_end_user.id, event_id: @event.id) %>
				<%= link_to "参加したい！",entries_path(@event.id),method: :post %>
			<% elsif %>
				<%= link_to "やっぱりやめる",entry_path(@event.id),method: :delete %>
			<% end %>
		<% end %>
	</div>
		<% @favo_users.each do |user| %>
		<div class="entry-image">
				<%= attachment_image_tag user, :end_user_image, :fill, 100, 100,fallback: "no_img_human.png", size:'80x80',class: "entry-image" %>
				<br><br>
		</div>
		<div class="entry-user">
			<%= user.name %>
		</div>
		<% end %>
</div>

 <div id="map-canvas">ここにマップが表示されます</div>