<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @item, local:true do |f| %>
  <div class="form-group">
    <%= f.label :作品名 %>
  <%= f.text_field :name, class: 'form-control', id: 'name' %>
  </div>
  <div class="form-group">
    <%= f.label :公開日 %>
  <%= f.text_field :release_date, class: 'form-control', id: 'release_date' %>
  </div>
  <div class="form-group">
  <%= f.label :description %>
    <%= f.text_area :item_description, rows: 5, class: 'form-control', id: 'item_description' %>
  </div>

  <div class="form-group">
    <%= f.label :監督名 %>
    <%= f.text_field :tag_list%>
  </div>

  <div class="form-group">
    <%= f.label :俳優名 %>
    <%= f.text_field :actor_list%>
  </div>

   <div class="form-group">
    <%= f.label :ジャンル %>
    <%= f.text_field :genre_list %>
  </div>
  <div class="form-group">
  <%= f.label :image %><br>
    <%= f.file_field :image, class: 'form-control' %>
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Back', items_path %>
  </div>
   <% end %>
<% end %>