<div class="about-background">
	<div class="about-top">
		<p class="top-logo">On The Couch</p>
		<h2 class="top-head">映画で人と繋がる。
		<p class="top-comment">
			On the Couchは映画を観終わった後に<br>
			<br>
			「この感動をだれかと共有したい！」を叶えるサイトです。<br>
			<br>
			ネタバレなど気にせず、<br>
			<br>
			観た人だけしか味わえない気持ちを分かち合いましょう！
		</p>
	</div>

	<div class="top-box">
		<p class="box-head">On the Couchの楽しみ方</p>
		<div class="top-content">
			<ul>
				<li class="li-box">
					<strong class="content-title">01</strong>
				</li>
            	<li><%= image_tag "watch.png", size: "280x220" %></li>
            	<li class="content-text">
            		<b>感動を共有しよう。</b><br>
            		<br>
            		お腹を抱えて笑った映画も<br>
            		涙した映画も<br>
            		共有すればもっと<br>
            		大好きになります！
            	</li>
       		</ul>
		</div>
		<div class="top-content">
			<ul>
				<li class="li-box">
					<strong class="content-title">02</strong>
				</li>
        		<li><%= image_tag "people-2567915_640.jpg", size: "280x220" %></li>
        		<li class="content-text">
            		<b>レビューに対してコメントしよう。</b><br>
            		<br>
            		だれかのレビューに対してみんなで<br>
            		リアクションをして<br>
            		みんなで盛り上がろう！
            	</li>
		</div>
		<div class="top-content">
			<ul>
				<li class="li-box">
					<strong class="content-title">03</strong>
				</li>
        		<li><%= image_tag "cheer.jpg", size: "280x220" %></li>
        		<li class="content-text">
            		<b>OnTheCouchでは</b><br>
            		<br>
            		PoP Upイベントを開催しています。<br>
            		メンバー同士でビールを片手に<br>
            		お気に入りの映画を。
            	</li>
		</div>
	</div>

	<div class="couch-box">
		<div class="wrap">
	    <p class="couch">↓↓↓On the Couch!!↓↓↓</p>
	    <%= link_to items_path do %>
	    <%= image_tag('couch.png') %>
	    <% end %>
		</div>
	</div>

</div>