<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Release date</th>
      <th>監督名</th>
      <th>出演者名</th>
      <th>ジャンル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name,item %></td>
        <td><%= item.release_date %></td>
        <td><%= raw(item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></td>
        <td><%= raw(item.actor_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></td>
        <td><%= raw(item.genre_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></td>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
